:root {
  /* DEGRADADO FONDO */
  --color-bg1: rgb(255, 255, 255);
  --color-bg2: rgb(230, 245, 255);
  --color-gradient: 200, 160, 255;
  --circle-size: 80%;
  --blending: hard-light;
/* ----------------- */
  --black: #000000;
  --white: #ffffff;
  --primary: #a42fe3;
  --secondary: #ffe571;
  --primaryB: #c46bf5;
  --secondaryB: #fcea99;

  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

*, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat',sans-serif;
}

/* SCROLLBAR */
html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header, main {
  position: relative;
  z-index: 1;
}


.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--black);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--black);
}

/* FONDO */
@keyframes moveInCircle {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
      transform: translateY(-50%);
  }
  50% {
      transform: translateY(50%);
  }
  100% {
      transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
      transform: translateX(-50%) translateY(-10%);
  }
  50% {
      transform: translateX(50%) translateY(10%);
  }
  100% {
      transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;

  svg {
      display: none;
  }

  .gradients-container {
      filter: url(#goo) blur(40px);
      width: 100%;
      height: 100%;
  }

  .g1 {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: center center;
      animation: moveVertical 30s ease infinite;

      opacity: 1;
  }

  .g2 {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;

      opacity: 1;
  }

  .g3 {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);

      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;

      opacity: 1;
  }

  .g4 {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);

      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;

      opacity: 0.7;
  }

  .g5 {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));

      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;

      opacity: 1;
  }

  .interactive {
      position: absolute;
      background: radial-gradient(
              circle at center,
              rgba(var(--color-gradient), 0.8) 0,
              rgba(var(--color-gradient), 0) 50%
          )
          no-repeat;
      mix-blend-mode: var(--blending);

      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;

      opacity: 0.7;
  }
}
                          
/* HAMBURGUER MENU  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

header{
    min-height: 3rem;
    z-index: 999;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .menu{
        max-width: 1345px;
        margin: 0 auto;
        padding: 1rem 2rem;
        .navbar{
            min-height: 6vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logos{
              display: flex;
              align-items: center;
            }
            .logo{
                font-size: 2.25rem;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--black);
                font-weight: 700;
            }
            .logoIcono{
              height: 40px;
              width: auto;
              margin-left: 0.3rem;
            }
            .nav-links{
                display: flex;
                align-items: center;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: var(--black);
                        margin: 0 1.25rem;
                        font-weight: 500;
                        font-size: 1.05rem;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: '';
                            background-color: var(--black);
                            bottom: -5px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            transition: 0.3s ease all;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
                .btn,
                .btn2 {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 0.75rem 1rem;
                    border-radius: 50px;
                    background: transparent;
                    border: 2px solid var(--black);
                    color: var(--black);
                    font-weight: 500;
                    transition: 0.3s ease-in-out;
                }
                .btn {
                  margin: 0 2rem 0 1rem;
                }
                .btn2 {
                  margin: 0;
                }
                .btn:hover{
                  background-color: var(--secondaryB);
                  transition: 0.3s ease-in-out;
                  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
                }
                .btn2:hover{
                  background-color: var(--primaryB);
                  transition: 0.3s ease-in-out;
                  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
                }
            }
            i{
                display: none;
                color: var(--black);
                cursor: pointer;
            }
        }
        .showcase{
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 35rem;
            h1{
                color: var(--black);
                font-size: 2.5rem;
                margin-bottom: 0;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            p{
                margin-top: 0;
                color: var(--black);
                font-weight: 500;
                line-height: 1.4;
                font-size: 0.9rem;
                width: 30rem;
            }
            /* button{
                margin-top: 1rem;
                background-color: #000;
                color: var(--black);
                border: none;
                outline: none;
                padding: 1rem 1.5rem;
                font-size: 0.9rem;
                border-radius: 6px;
                cursor: pointer;
            } */
        }
    }
}

@media(max-width: 900px){
    header{
        .menu{
            .navbar{
                .nav-links{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    height: 100%;
                    width: 225px;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    transform: translateX(-100%);
                    transition: 0.4s ease all;
                    z-index: 99;
                    li{
                        a{
                            color: #000;
                            &::after{
                                background-color: #000;
                            }
                        }
                    }
                    button{
                        border-color: #000;
                        color: #000;
                        padding: 0.75rem 1.5rem;
                    }
                    &.active{
                        transform: translateX(0%);
                    }
                }
                i{
                    display: block;
                }
            }
            .showcase{
                min-height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;
                h1{
                    font-size: 2.25rem;
                }
            }
        }
    }   
}

@media(max-width: 500px){
    header{
        .menu{
            .showcase{
              h1{
                font-size: 2.1rem;
              }
              p{
                font-size: 0.85rem;
                width: 300px;
              }
            }
        }
    }   
}

/* BARRA */
.dreamNoise-btn {
  font-size: var(--bodyFontSize);
  color: var(--black);
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  border: 2px solid var(--black);
  border-radius: 50px;
  padding: 10px 18px;
  transition: 0.3s ease-in-out;
  z-index: 3;
}

.dreamNoise-btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  /* transform: scale(1.10) rotate(360deg); */
}

.dreamNoise-btn.rotated {
  transform: rotate(360deg); 
}

/* BOTONES */
.theme-switch {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btnDark {
  background-color: transparent;
  color: var(--white-color);
  padding: 10px 18px;
  border: 2px solid var(--black);
  border-radius: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnLight {
  background-color: transparent;
  color: var(--white-color);
  padding: 10px 20px;
  border: 2px solid var(--black);
  border-radius: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnDark i,
.btnLight i {
  font-size: 1rem;
  color: var(--black);
}

.theme-switch .hide-cont {
  display: none;
}

.btnLight:hover {
  background-color: var(--primaryB);
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.btnDark:hover {
  background-color: var(--secondaryB);
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

/* BUSCAR */
.cs-barra {
  margin: 3rem 1rem 1rem 1rem;
}

.barra {
  gap: 20px;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.campo {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 27px;
  color: var(--black);
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  transition: 1s ease-in-out;
  background-color: transparent;
}

.campo::placeholder {
  color: var(--black);
  font-weight: 500;
}

.lupa {
  right: 0;
  top: 0;
  width: 55px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--black);
  line-height: 36px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
}

.lupa i {
  font-size: 1rem;
  color: var(--black);
  line-height: 36px;
}

.searchCont:hover input {
  width: 350px;
  border: 2px solid var(--black);
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.3s ease-in-out;
}

.searchCont {
  position: relative;
}

/* SECCIÓN 1 */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* NOVEDADES TOP */
  #section1 {
    padding: 0 1rem 2rem 1rem;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #section1 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
 
  #section1 .cs-title {
    max-width: 24ch;
  }
  #section1 .cs-text {
    max-width: 100%;
  }
  #section1 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #section1 .cs-card-group {
    width: 100%;
    /* changes to 741px at desktop */
    max-width: 31.25rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 20px */
    /* gap: clamp(1rem, 2.5vw, 1.25rem); */
    gap: 0.5rem;
  }
  #section1 .titleIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  #section1 .fireIcon {
    font-size: 2rem;
    color: var(--primary);
  }
  #section1 .h3Title {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    /* margin: 0 0 0.5rem 0; */
    color: var(--black);
  }
  #section1 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 52.5rem;
    /* 16px - 24px */
    /* padding: clamp(0.5rem, 3vw, 1rem); */
    padding-right: 3rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    border-radius: 1.8rem;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  #section1 .cs-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  #section1 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  #section1 .cs-image-group {
    /* width: 10%; */
    /* margin-bottom: 1.5rem; */
    position: relative;
    z-index: 1;
  }
  #section1 .cs-picture {
    width: 100px;
    height: 0;
    padding-top: 100px;
    /* background-color: #1a1a1a; */
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* prevents flexbox from squsihing it */
    flex: none;
  }
  #section1 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s, opacity 0.3s;
    border-radius: 1.2rem;
  }

  #section1 .cs-item:hover .cs-picture img {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: 0.3s ease-in-out;
  }

  #section1 .cs-mask {
    --maskBG: #fff;
    --maskBorder: #e8e8e8;
    width: 102%;
    height: 102%;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -2px;
    z-index: 1;
  }
  #section1 .cs-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  #section1 .groupgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
  }
  #section1 .numerTop {
    /* font-size: 1.5rem; */
    font-weight: 700;
    color: var(--white);
    position: relative;
    padding: 0.3rem 0.8rem;
    text-align: center;
    display: inline-block;
  }

  #section1 .numerTop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 50%; 
    z-index: -1;
  }
  #section1 .groupText {
    margin-left: 1rem;
  }
  #section1 p {
    color: var(--black);
  }
  #section1 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--black);
  }
  #section1 .iconRepro {
    display: flex;
    flex-direction: row;
  }
  #section1 .play,
  #section1 .pause  {
    font-size: 1.5rem;
    color: var(--secondary);
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* margin: 0 auto; */
  }

  /* INTRO */
  #section1 .cs-intro {
    width: 100%;
    max-width: 52.5rem;
    margin: auto;
    /* 40px - 100px top & bottom */
    /* 16px - 60px left & right */
    padding: clamp(2.5rem, 10vw, 6.25rem) clamp(1rem, 5vw, 3.75rem);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.8rem;
    /* prevents padding from affecting height abd width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 28px - 36px */
    gap: clamp(1.75rem, 4vw, 2.25rem);
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  #section1 .cs-intro:before {
    /* background-color */
    content: '';
    width: 100%;
    height: 100%;
    background: var(--white);
    opacity: .1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #section1 .cs-intro:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  #section1 .cs-intro .cs-topper {
    color: var(--primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  #section1 .cs-intro .cs-title {
    max-width: 100%;
    color: var(--black);
  }
  .cs-title .dreamText {
    color: var(--secondary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .cs-title .noiseText {
    color: var(--secondary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  #section1 .cs-intro .cs-text {
    max-width: 31.25rem;
  }
  #section1 .cs-blob {
    --blobColor: var(--secondary);
    opacity: .25;
    display: none;
    position: absolute;
  }
  #section1 .cs-blob1 {
    width: 16.9375rem;
    display: block;
    height: auto;
    top: 0;
    left: -8.75rem;
  }
  #section1 .cs-blob2 {
    width: 28.8125rem;
    height: auto;
    bottom: 0;
    right: 0;
  }

  /* ARTISTAS TOP*/
  #section1 .topArtists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 1rem 0;
  }
  #section1 .musicIcon {
    font-size: 2rem;
    color: var(--primary);
  }
  #section1 .h3TitleArtist {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    /* margin: 0 0 0.5rem 0; */
    color: var(--black);
  }

  .artistTop-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 1.8rem;
    background-color: rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem;

  }

  .artistTop-grid:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  
  .artistTop-container {
    text-align: center;
  }
  
  .containerBefore {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .circle-artistTop {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    object-fit: cover; 
  }

  .containerBefore:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
  }

  .containerBefore .circle-artistTop:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.3) rotate(7deg);
  }
  
  .artistTop-text {
    color: var(--black);
    margin: 0;
  }

}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #section1 .cs-card-group {
    max-width: 80rem;
  }
  #section1 .cs-link {
    flex-direction: row;
    align-items: center;
  }
  #section1 .cs-image-group {
    /* width: 40%; */
    max-width: 18.75rem;
  }
  #section1 .cs-input {
    width: 100%;
  }
  #section1 .cs-blob1 {
    left: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #section1 .cs-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  #section1 .cs-card-group {
    width: 55%;
    max-width: 46.3125rem;
    /* prevents flexbox from squishing it */
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #section1 .cs-intro {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #section1 .cs-blob2 {
    display: block;
  }
  #section1 .cs-floater1 {
    margin-left: 34.4375rem;
    left: 50%;
    top: 0.625rem;
    right: auto;
  }
  #section1 .cs-floater2 {
    margin-right: 24.75rem;
    display: block;
    right: 50%;
    bottom: 1.25rem;
    left: auto;
  }
}
                                
/* SECTION 2 */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #albumes {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
  }
  #albumes .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      /* gap: clamp(3rem, 6vw, 4rem); */
      gap: 1rem;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 1.8rem;
      padding: 3rem 3rem 6rem 3rem;
  }

  #albumes .cs-container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }

  #albumes .titleIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  #albumes .clockIcon {
    font-size: 2rem;
    color: var(--primary);
  }
  #albumes .h3Title {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    /* margin: 0 0 0.5rem 0; */
    color: var(--black);
  }

  .caption {
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
    color: var(--black);
    text-align: center;
  }

  .caption2 {
    padding-top: 0.4rem;
    display: flex;
    justify-content: center;
    color: var(--black);
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  #albumes .cs-image-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      column-gap: 1rem;
      row-gap: 5.5rem;
  }
  #albumes .cs-item {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      margin: 0;
      position: relative;
      display: block;
  }
  #albumes .cs-item:hover .cs-hover-box {
      opacity: 1;
  }
  #albumes .cs-item:hover .cs-icon {
      /* return to original position */
      transform: rotateY(0);
  }
  #albumes .cs-item:hover .cs-h3 {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #albumes .cs-item:hover .cs-hover-box-text {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #albumes .cs-picture {
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
  }
  #albumes .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.2rem;
  }
  #albumes .cs-picture img:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
  }
  #albumes .cs-hover-box {
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 1em;
      background-color: rgba(255, 229, 113, 0.9);
      border-radius: 1.2rem;
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* Prevents padding from contributing to height & width */
      box-sizing: border-box;
      /* Sets stage for 3d transform animation */
      perspective: 700px;
      top: 0;
      left: 0;
      z-index: 5;
      /* prevents mouse from being able to interact with these elements */
      pointer-events: none;
      transition: opacity 0.3s;
  }
  #albumes .cs-icon {
      /* 50px - 60px */
      width: clamp(3.125rem, 5vw, 3.75rem);
      height: clamp(3.125rem, 5vw, 3.75rem);
      /* 16px - 32px */
      margin-bottom: clamp(1rem, 5vw, 2rem);
      border-radius: 50%;
      background-color: var(--white);
      outline: 0.5rem solid rgba(255, 255, 255, 0.7);
      /* Start with the icon box rotated 90deg */
      transform: rotateY(90deg);
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: none;
      transition: transform 0.5s;
  }
  #albumes .cs-icon i {
      font-size: 2rem;
      color: var(--primary);
  }
  #albumes .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 auto;
      max-width: 16.875rem;
      color: var(--black);
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      margin-bottom: 0.5rem;
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.1s;
  }
  #albumes .cs-hover-box-text {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1vw, 1rem);
      line-height: 1.5em;
      margin: 0 auto;
      max-width: 16.875rem;
      color: var(--black);
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.2s;
      font-size: var(--bodyFontSize);
  }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #albumes .cs-image-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
  }
  #albumes .cs-item {
      grid-column: span 6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #albumes .cs-item {
      grid-column: span 3;
  }
}

/* SECTION 3 */
#new {
  padding: 2rem 1rem;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1;
  background: linear-gradient(89deg, rgba(164, 47, 227, 0.4) 44.46%, rgba(230, 245, 255, 0.2) 78.47%);
}

#new .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 48px - 64px */
  gap: 2rem;
}

#new .cs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* 16px - 20px */
  gap: clamp(1rem, 2.5vw, 1.25rem);
  justify-content: space-between;
}

#new .cs-wrapper .contador {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 50%;
}

#new .cs-wrapper .cs-intro {
  flex: 1 1 50%;
}

.cs-topper2 {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 0.25rem;
  display: block;
  color: var(--primary);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* #new .cs-wrapper .contador img {
  border-radius: 1.8rem;
  width: 100%;
} */

.time {
  display: flex;
  justify-content: center;
  color: var(--black);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 60%), url(../media/new/new1.jpg);
  width: 40rem;
  height: 40rem;
  border-radius: 1.8rem;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  padding-bottom: 2rem;
  transition: 0.3s ease-in-out;
}

.time:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}

.time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14px;
  color: var(--secondary);
}

.time-unit div {
  font-size: 2rem;
  font-weight: 500;
}

.time-unit span {
  font-size: 1rem;
}

a {

}

 /*-- -------------------------- -->
<---         CATEGORIES           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1829 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #services-1829:before {
    content: '';
    width: 100%;
    height: 100%;
    /* background: #F6EDDF; */
    opacity: 0.9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1829 .cs-container {
    width: 100%;
    max-width: 55rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #services-1829 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    z-index: 1;
  }
  #services-1829 .cs-title {
    max-width: none;
  }
  #services-1829 .cs-card-group {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 22.5rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: column;
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1829 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* 368px - 428px, changes to a clamp at desktop */
    padding-top: clamp(23rem, 60vw, 26.75rem);
    border-radius: 16.25rem;
    overflow: hidden;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-item:before {
    /* color border */
    content: '';
    border-radius: 16.25rem;
    border: 5px solid var(--black);
    opacity: 0.3;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 2;
    /* prevents mouse from interacting with it */
    pointer-events: none;
  }
  #services-1829 .cs-item:after {
    /* color border white bg */
    content: '';
    border-radius: 16.25rem;
    border: 5px solid #fff;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
    /* prevents mouse from interacting with it */
    pointer-events: none;
  }
  #services-1829 .cs-item:hover .cs-flex:before {
    opacity: 1;
  }
  #services-1829 .cs-item:hover .cs-h3,
  #services-1829 .cs-item:hover .cs-job {
    color: var(--black);
  }
  #services-1829 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #services-1829 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  #services-1829 .cs-flex {
    text-align: center;
    width: 100%;
    padding: 1rem 0 1.5rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-flex:before {
    /* background color */
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-1829 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    width: 70%;
    margin: 0;
    color: var(--black);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-picture {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    z-index: -4;
  }
  #services-1829 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #services-1829 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1829 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1829:before {
    /* background: linear-gradient(89deg, rgba(255, 243, 236, 0.9) 44.46%, rgba(255, 243, 236, 0.2) 78.47%); */
    opacity: 1;
  }
  #services-1829 .cs-card-group {
    width: 60%;
    max-width: 100%;
  }
  #services-1829 .cs-item {
    height: auto;
    /* 216px - 336px */
    padding-top: clamp(13.5rem, 23vw, 21rem);
    align-items: stretch;
    grid-column: span 6;
  }
  #services-1829 .cs-flex {
    height: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1829 .cs-container {
    max-width: 80rem;
  }
  #services-1829 .cs-card-group {
    width: 100%;
  }
  #services-1829 .cs-item {
    grid-column: span 3;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #services-1829 .cs-graphic1 {
    margin-right: calc(400/16 * 1rem);
    left: auto;
    right: 50%;
  }
  #services-1829 .cs-graphic2 {
    margin-left: calc(420/16 * 1rem);
    right: auto;
    left: 50%;
  }
}